﻿@model FlagGame.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>De que pais eh esta bandeira?</h2>

<div>
    <h4>Acerte a bandeira!!!</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
           <img class="img-responsive" src='@Url.Content("~/Content/images/" + Model.Flag.FlagFile)' />
        </div>
        <div class="col-md-6">
            @{ foreach (var option in Model.Options()) {
                @Html.RadioButton("answer", option)
                @Html.Label(option)
                    }
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
