﻿@model FlagGame.Models.Game

@{
    ViewBag.Title = String.Concat(Model.UserName, " Game");
}

<h2>@Html.Raw(String.Concat(Model.UserName, " Game"))</h2>

<div>
    <h4></h4>
    <hr />
    @Html.ActionLink("Proxima Pergunta", "Details", "Questions", new { gameId = Model.ID, id = Model.NextQuestion().ID }, null);
</div>

